<!DOCTYPE html>
<html>
  <head>
    <title>MilkClub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Type=text/html;charset=utf8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/custom.css" rel="stylesheet" type="text/css">

    <script src="/js/bootstrap.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="container" id="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><font color="white">Milk</font><font color="#F6BB42">Club</font></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <% if current_user_logged_in? %>
            <% if current_user.role == "Admin" %>
              <li ><a href='/my_account'>My Account</a></li>
              <li ><a href='/payments'>New Payments</a></li>
              <li ><a href='/new_amount_due'>New Month</a></li>
              <li ><a href='/fees'>Manage Fees</a></li>
              <li ><a href='/multiplier'>Manage Multipliers</a></li>
              <li ><a href='/total_expenses'>Total Expenses</a></li>
              <li ><a href='/members'>Members</a></li>
            <% else %>
              <li ><a href='/my_account'>My Account</a></li>
              <li ><a href='/total_expenses'>Total Expenses</a></li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right col-md-3">
          <% if current_user_logged_in? %>
            <li><span class='login'><%= current_user.name %> - <%= current_user.role %> | <a href="/logout">Logout</a></span></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
    </nav>

    <div class="container" id="content">

      <% if flash[:success] %>
        <div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <% end %>

      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <hr>
        <p style="text-align:right;">
        Contact: <a href="mailto:cloud.development.team@bt.com?Subject=Innventory" rel="author">cow.squeezing.team@bt.com</a></a>
      </p>
    </div>
  </div>

</body>
</html>
